.whatIsFilantropia {
    display: flex;
    justify-content: center;
    
    .listCards{
        
        width: 90%;
        
    }
}
.whatIsFilantropia .card{
    background-color: #eee5e9;
    justify-content: space-around;
    h3{
        margin-bottom: 0%;
    }
    p{
        font-size: 2.4rem;
    }
}