@import "/src/styles";

.moreSection{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 0;
  border-top: $border-division-section;
  border-bottom: $border-division-section ;
}

section.moreSection div.listCards{
  grid-template-columns: repeat(4, 1fr);
}