@import "/src/styles";

.carouselVideos{
  position:relative;
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  border: none;
}

.carouselVideos button{
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  background-color: $color-background-secondary;
}

.carouselVideos button:hover{
  background-color: $color-background-secondary-hover;
}