@import "/src/styles";

// .ant-modal-root .ant-modal-wrap{
//   margin: 3rem 0 0;
//   border-radius: 5px;
//   border:1px solid blue;
// }

.modal{

  &__icon{
    color:$color-background-secondary;
    width:3rem;
    height: 3rem;
    transition: all ease 0.5s;
    &:hover{
      scale: 1.4;;
    }
  }
}

.ant-modal .ant-modal-close{
  width: 3.5rem;
  background-color: transparent;
  top:1rem;
  right: 1rem;
  &:hover{
    background-color: transparent;
  }
}

.ant-modal .ant-modal-footer{
  display: flex;
  justify-content: center;
}