@import "/src/styles";

.modal{

  &__icon{
    color:$color-background-secondary;
    width:3rem;
    height: 3rem;
    transition: all ease 0.5s;
    &:hover{
      transform: translateX(-0.5rem);
      width:3.5rem;
      height: 3.5rem;
    }
  }
}

.ant-modal .ant-modal-close{
  background-color: transparent;
  top:1rem;
  right: 1rem;
  width: 3.5rem;
  width: 3.5rem;
  &:hover{
    background-color: transparent;
  }
}

.ant-modal .ant-modal-footer{
  display: flex;
  justify-content: center;
}