.Header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  align-items: center;
  background-color: #000000;
  color:white;

  &__imgContainer{
    width: 300px;
  }
  
  &__img{
    object-fit: cover;
  }
}