$color-primary: #191B1D;
$color-secondary: #7C7C7C;
$color-tertiary: #EEE5E9;
$color-background-primary: #28B2A9;
$color-background-secondary: #FF3131;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Inter', sans-serif;

$font-size-s:1rem;
$font-size-m:2rem;
$font-size-l:3rem;
