@import "/src/styles";

.modalEquidadSocial{
  width: 100%;
  height: 100%;

  section{
    width: 100%;
    border:none;
    padding:0;
  }

  img{
    border-radius:0.8rem;
    height: 25vw;
  }

  h3{
    width: 100%;
    position: absolute;
    top:18vw;
    color:$color-tertiary;
    font-size:$font-size-l ;
  }

  h2{
    width: 90%;
  }

  p{
    margin:0.5rem 0;
  }

  &__statistics{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-span{
      width:85%;
      display: inline-block;
      font-size: $font-size-xs;
      font-weight:$font-weight-card-title;
    }
  }

  button{
    margin: 0 auto 2rem;
    background-color: $color-background-secondary;

    &:hover{
      background-color: $color-background-secondary-hover;
    }
  }

  &__subtitle {
    font-weight: $font-weight-card-title ;
    font-size: $font-size-m;
    margin-bottom: 2rem;
  }
}

.modalEquidadSocial__fondoBecas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 2rem;
    gap: 2rem;
    margin: 0 0 3rem;

    .imageCard{
      width: 50%;
      height: 11vw;
    }
  }
}
