.howToDonate {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .listCards {
    width: 85%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
